<!DOCTYPE html>
{% extends 'base_site/base.html'%}

{% block content %}
<div class="content">
{% if validlink %} 
    <p>Введите в поле ниже адрес электронной почты, на которую был зарегистрирован ваш аккаунт</p>

    <form method="post">
        {% csrf_token %}
        
        {% for f in form %}
        <p>
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
        </p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit">Подтвердить смену пароля</button>
        
    </form>
{% else %}
    <p>Вероятно, эта ссылка уже не действительна</p>
{% endif %}
</div>
{% endblock content %}