{% extends 'base_site/base.html'%}

{% block content %}
<div class="content">
    <p>Введите в поле ниже адрес электронной почты, на которую был зарегистрирован ваш аккаунт</p>

    <form method="post">
        {% csrf_token %}

        {% for f in form %}
        <p>
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
        </p>
        {% endfor %}
        
        <button type="submit">отправить письмо восстановления</button>
    </form>
</div>
{% endblock content %}