{% extends 'base_site/base.html'%}

{% block content %}
<div class="content">
    
    <div>
        <form method="post" action="{% url 'base_site:add_word_in_user_dict' %}">
            {% csrf_token %}
            <p>
                <label class="form-label" for="user_word">Ваше слово: </label>
                <input type="text" name="user_word" id="user_word" required="True"> 
            </p>
            {% if user_error %}
            <p>{{ user_error }}</p>
            {% endif %}
            <button type="submit">Добавить слово с мой словарь</button>
        </form>

    </div> 

    <div class="word_trening">
        <a href="{% url 'base_site:training' %}">Тренировать мои слова</a>
    </div>

</div>
{% endblock content %}