{% extends 'base_site/base.html'%}

{% block content %}
<div class="content">
    <form method="post">
        {% csrf_token %}
    
        {% for f in form %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
        </p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        {% if form.errors %}
        <p>Неправильный пароль/логин</p>
        {% endif %}

        <button type="submit">Войти</button>

        <a href="{% url 'base_site:password_reset' %}">Забыли пароль?</a>
    </form>
</div>
{% endblock content %}