{% extends 'base.html'%}

{% block content %}
<div class="content">
    
    <div>
        <form method="post">
            {% csrf_token %}
        
            {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Добавить слово с мой словарь</button>
        </form>

    </div> 

    <div class="word_trening">
        <a href="{% url 'training' %}">Тренировать мои слова</a>
    </div>

</div>
{% endblock content %}