{% extends 'base.html'%}

{% block content %}
<div class="content">
    
    <div class="trening">
        <form method="post" action="{% url 'result_training' %}">
            {% csrf_token %}

            {% for f in form %}
            <p>
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
            </p>
            <!-- <div class="form-error">{{ f.errors }}</div> -->
            {% endfor %}

            <button type="submit">Проверка</button>
        </form>
    </div>

</div>
{% endblock content %}